@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  perspective: 1000px;
  scroll-behavior: smooth;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background: black;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 215, 0, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 215, 0, 0.9);
}

@layer base {
  @font-face {
    font-family: "angel-raphsody";
    src: url("/fonts/angel-raphsody.ttf");
  }

  @font-face {
    font-family: "voyage-bold";
    src: url("/fonts/voyage-bold.otf");
  }

  @font-face {
    font-family: "voyage-regular";
    src: url("/fonts/voyage-regular.otf");
  }

  @font-face {
    font-family: "kenyan-regular";
    src: url("/fonts/kenyan-coffee-regular.otf");
  }

  @font-face {
    font-family: "kenyan-bold";
    src: url("/fonts/kenyan-coffee-bold.otf");
  }

  @font-face {
    font-family: "pop";
    src: url("/fonts/pop.ttf");
  }
}

@layer components {
  .link {
    @apply text-3xl hover:text-yellow-500 transition-all ease-in-out duration-200 font-voyage_bold;
  }

  #nav-logo-text {
    @apply drop-shadow-2xl;
  }

  .intro-text {
    @apply font-angel_raphsody text-5xl md:text-9xl from-amber-500 to-amber-900 bg-clip-text text-transparent;
  }

  .text-gradient {
    @apply bg-gradient-to-b from-amber-500 to-amber-900 bg-clip-text text-transparent;
  }

  .br {
    box-shadow: 0px 0px 50px 10px #b45309;
  }

  .icon-anchor {
    @apply hover:cursor-pointer;
  }

  .hiddenn {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(20%);
  }

  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
  }

  #explore-btn {
    @apply transition-all ease-in-out duration-300;
  }

  .patron-wrapper {
    @apply text-center;
  }

  .patron-name {
    @apply text-2xl md:text-5xl font-voyage_bold text-black;
  }

  .patron-info {
    @apply text-xl md:text-3xl font-voyage_regular mt-2 text-black;
  }

  #svg-utsav-text {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;

    path {
      stroke: gold;
      stroke-width: 0.2;
    }
  }

  #svg-utsav-logo {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;

    path {
      stroke: #926011;
      stroke-width: 0.2;
    }
  }

  .letter {
    position: relative;
  }

  .split-letter {
    @apply font-angel_raphsody text-5xl md:text-9xl bg-gradient-to-b from-amber-500 to-amber-950 bg-clip-text text-transparent opacity-0 relative;
  }

  .intro-bar {
    @apply bg-black text-black w-1/6 relative;
  }

  .countdown-param {
    h2 {
      @apply font-angel_raphsody text-4xl md:text-7xl bg-gradient-to-b from-amber-500 to-amber-950 bg-clip-text text-transparent relative;
    }

    h4 {
      @apply text-2xl md:text-4xl font-voyage_bold bg-gradient-to-b from-amber-500 to-amber-950 bg-clip-text text-transparent relative;
    }
  }

  #navbar-wrapper {
    width: 100vw;
    position: fixed;
  }

  .link-resp {
    @apply text-2xl font-voyage_bold;
  }

  .respo-hr {
    @apply h-[0.5px] w-full bg-white opacity-10 rounded-xl;
  }
}

@media only screen and (max-width: 600px) {
  #nav-links {
    display: none;
  }

  #br {
    display: none;
  }
}
